<h1>Welcome to Admin Page {{userName}}</h1>
<h2>Update Employees:</h2>
<form action="/login/productadmin" method="POST" class="form mb-4">
    <label>Title</label>
    <input type="text" class="form-control" name="title">
    <label>Price</label>
    <input type="number" class="form-control" name="price">
    <label>Discount</label>
    <input type="text" class="form-control" name="discount">
    <label>Quantity</label>
    <input type="number" class="form-control" name="quantity">
    <br>
    <button type="submit" class="btn btn-success">
        Add New Product
    </button>
</form>

{{!-- Murat Cards --}}

<div class="productAdminDiv">
<div class="border">
  <div class="productList">
   <h2>My User List</h2>
   <div >
 {{#each products}}
   <div class="productItem">
   <h4>Title: {{title}}</h4>
   <p>Price {{price}} $</p>
   <p>Discount: {{discount}} %</p>
   <p>Quantity: {{quantity}}</p>
   </div> 
   {{/each}}
   </div>
  
  </div>
</div>
<div class="border">
    <div class="userList">
        <h2>My User List</h2>
        {{#if users}}
        <table>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Country</th>
                <th>Address</th>
                <th>Salary</th>
                <th>Role</th>
                <th>Delete/Update</th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{country}}</td>
                <td>{{address}}</td>
                <td>{{salary}}</td>
                <td>{{role}}</td>
                <td><button><a href="/users/delete/{{_id}}">Delete</a></button></td>
            </tr>
            {{/each}}
        </table>
        {{/if}}
    </div> 
</div>

     
    </div>

    

</div>